
<style>
.league{

    font-family: "Arial Black";
    text-align: center;
}
    tr._league{
        margin: 80px;
    }
    tr{
        text-decoration: underline;
    }
</style>

<div id="league">
    <div class="league">

            <h2>Premier League Table</h2>

            <tr class="_league">
                <td><a>Manchester City</a></td>
                <td><a>Manchester United</a></td>
                <td><a>Tottenham Hotspur</a></td>
                <td><a>Chelsea</a></td>
            </tr>
        <br><br>
            <tr class="_league">
                <td><a>Liverpool</a></td>
                <td><a>Arsenal</a></td>
                <td style="padding: 60px"><a>Burnley</a></td>
                <td><a>Brighton & Hoven</a></td>
            </tr>
        <br><br>
            <tr class="_league">
                <td><a>Watford</a></td>
                <td><a>Huddersfield Town</a></td>
                <td><a>Newcastle United</a></td>
                <td><a>Leicester City</a></td>
            </tr>
        <br><br>

            <tr class="_league">
                <td><a>Southampton</a></td>
                <td><a>Stoke City</a></td>
                <td><a>Everton</a></td>
                <td><a>West Brom</a></td>
            </tr>
        <br><br>

            <tr class="_league">
                <td><a>Bournemouth</a></td>
                <td><a>West Ham United</a></td>
                <td><a>Swansea City</a></td>
                <td><a>Crystal Palace</a></td>
            </tr>


    </div>
</div>
