
    <div>
        <form role="form" action="/login" method="post" style="max-width: 300px;" class="form-control" target="_blank" id="loginForm">
            Username:<br>
            <input type="text" name="username" placeholder="Enter your username here"><br>
            Password:<br>
            <input type="password" name="password" placeholder="Enter your password here">
            <br><br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--<script src="/app_server/routes/main.js" type="text/javascript" rel="script"></script>-->
<script>
    // setup for login form

   $(document)
    //const loginForm = document.getElementById('loginForm')

    var loginForm = $('#loginForm')
    console.log(loginForm);
    loginForm.on('submit', function(event) {
        event.preventDefault();
        var username = loginForm.find('input[name=username]').val().trim();
        var password = loginForm.find('input[name=password]').val().trim();
        $.ajax({

            type: 'POST',
            url: '/login',
            data: {
                username: username,
                password: password
            },
            success: function() {
                window.location = '/'
            },
            error: function(err) {
//                window.alert(err.responseText);
                window.alert("Sorry your username or password is NOT correct!!!");
            }
        });
    });
</script>