<style>
    th, td{
        padding: 10px 30px;

    }
    .tab{
        margin-top: 50px;
        margin-left: 200px;
        margin-bottom: 50px;
    }
    h1{text-align: center; font-size: xx-large; font-weight: bolder; margin: 50px}
</style>
<div class="row tab">
    <h1>Latest Fixtures</h1>

<!--<form accept-charset="UTF-8" id="favouriteForm" action="favourite" method="post">-->
    <table border="0">
        <tr>
            <th>Home</th>
            <td></td>
            <th>Away</th>
            <th>Follow</th>

            <% data.fixtures.forEach(function(item) { %>
        <tr>
            <td><%= item.homeTeamName %>  </td>
            <td> VS </td>
            <td><%= item.awayTeamName %> </td>
            <td>
                <div class="stars starrr" data-rating="0"></div>
                <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
                <button class="btn btn-success btn-sm style" type="submit">Follow</button></td>
        </tr>
        <% }); %>
    </table>


    <!--</form>-->
</div>


