<style>
 .sign-up{

     width: 1150px;
     height: 450px;
     margin-left: 60px;
     padding: 10px 25px;
 }
 .label-style{
     margin-left: 80px
 }
 .control-label{margin-bottom: 5px}
    .user-label{
        margin:5px 0;
    }
    .form1{
        margin: 80px;
        padding-left: 80px;
    }

     .form2{
         margin: 10px 80px 50px 80px;
         padding: 20px 80px 50px 80px;
     }
    .cdn{
        font-weight: bolder;
    }
    .nav-tabs{
        margin-left: 60px;
    }
    .user2{ }
    .modal-body{padding: 20px}
    .ltn{margin: 10px}
</style>

    <div class="modal-body">
        <div class="well sign-up">
            <ul class="nav nav-tabs">
                <li class="active cdn"><a href="#login" data-toggle="tab">Login</a></li>
                <li><a href="#create" class="cdn" data-toggle="tab">Create Account</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="login">
                    <form class="form-horizontal form1" action='/login' method="POST" id="loginForm">
                        <fieldset>

                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label label-style"  for="username">Username</label>
                                <input type="text" id="username" name="username" placeholder="" class="input-xlarge ltn">
                            </div>

                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label label-style" for="password">Password</label>
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge ltn">

                            </div>


                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls label-style">
                                    <button class="btn btn-success label-style">Login</button>
                                </div>
                            </div>

                            <p class="facebook-logger"><a href="/auth/facebook">Login with FaceBook</a></p>
                            <p class="google-logger"><a href="/auth/google">Login with Google</a></p>
                        </fieldset>
                    </form>
                </div>

                <!--//=====================Registration here==========================-->

                <div class="tab-pane fade" id="create">
                    <form id="tab signupForm" class="form2 sign-up" action="/signup" method="post">
                        <label class=" user1">Username</label><br>
                        <input type="text" value="" class="user-label">
                        <br>

                        <label class="user2">Email</label><br>
                        <input type="text" value="" name="email" class="user-label">
                        <br>

                        <label class="control-label user3" for="password">Password</label><br>
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge user-label">
                        <br>

                        <label class="control-label user4" for="password2">Re-Enter Password </label><br>
                        <input type="password" id="password2" name="password2" placeholder="" class="input-xlarge user-label">
                        <br>
                        <br>

                        <input type="submit" class="btn btn-primary" value="Create Account">
                            <br>

                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    var signupForm = $('#signupForm');
    signupForm.on('submit', function(event) {
        event.preventDefault();
        var username = signupForm.find('input[name=username]').val().trim();
        var password = signupForm.find('input[name=password]').val().trim();
        var password2 = signupForm.find('input[name=password2]').val().trim();
        var email = signupForm.find('input[name=email]').val().trim();
        if (password !== password2)
            window.alert('Passwords do not match')
        else {
            $.ajax({
                type: 'POST',
                url: '/signup',
                data: {
                    username: username,
                    password: password,
                    email: email,
                },
                success: function() {
                    window.location = '/'
                },
                error: function() {
                    window.alert('Error creating account please try again!');
                }
            });
        }
    });
</script>

<script>
    // setup for login form

    $(document)
    //const loginForm = document.getElementById('loginForm')

    var loginForm = $('#loginForm')
    console.log(loginForm);
    loginForm.on('submit', function(event) {
        event.preventDefault();
        var username = loginForm.find('input[name=username]').val().trim();
        var password = loginForm.find('input[name=password]').val().trim();
        $.ajax({

            type: 'POST',
            url: '/login',
            data: {
                username: username,
                password: password
            },
            success: function() {

                document.getElementById("user").innerHTML = "Welcome " +  req.username;

                window.location = '/'
            },
            error: function(err) {
//                window.alert(err.responseText);
                window.alert("Sorry your username or password is NOT correct!!!");
            }
        });
    });
</script>
