

<form action="/signup" method="post" class="form-group" target="_blank" id="signupForm">

    Email:<br>
    <input type="text" name="email" placeholder="Your email goes here"><br>
    Username:<br>
    <input type="text" name="username" placeholder="Enter your username here"><br>
    Password:<br>
    <input type="password" name="password" placeholder="Enter your password here"><br>
    Re-enter Password:<br>
    <input type="password" name="password2" placeholder="Re-enter your password here">
    <br><br>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

<script>

    var signupForm = $('#signupForm');
    signupForm.on('submit', function(event) {
        event.preventDefault();

        var username = signupForm.find('input[name=username]').val().trim();
        var password = signupForm.find('input[name=password]').val().trim();
        var password2 = signupForm.find('input[name=password2]').val().trim();
        var email = signupForm.find('input[name=email]').val().trim();



        if (password !== password2)
            window.alert('Passwords do not match')
        else {
            $.ajax({
                type: 'POST',
                url: '/signup',
                data: {
                    username: username,
                    password: password,
                    email: email,
                },
                success: function() {
                    window.location = '/'
                },
                error: function() {
                    window.alert('Error creating account please try again!');
                }
            });
        }
    });

</script>