<style>
    .left-style{
        margin-left: 350px;
    }
    th, td{
        padding: 10px 30px;

    }
    .tab{
        margin-top: 50px;
        margin-left: 320px;
        margin-bottom: 50px;
    }
    h1{text-align: center; font-size: xx-large; font-weight: bolder; margin: 50px}
</style>
<div class="row left-style">

<!--<form accept-charset="UTF-8" id="favouriteForm" action="favourite" method="post">-->
<table border="0">
    <tr>
        <th>Team Name</th>
        <th>Favourite</th>

        <% data.teams.forEach(function(item) { %>

        <%if (item.name == 'Chelsea FC') { %>
        <% var hlink = "/chelsea.ejs" %>
        <% } %>
        <%  if(item.name == "Manchester United FC"){ %>
        <% var hlink = "/manunited.ejs" %>
        <% } else{ %>
        <% var hlink = "/chelsea.ejs" %>
        <% } %>
    <tr>
        <td> <a href='<%= hlink %>' > <%= item.name %> </a> </td>
        <td>
            <div class="stars starrr" data-rating="0"></div>
            <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
            <button class="btn btn-success btn-sm style" type="submit">Favourite</button>
        </td>
    </tr>
    <% }); %>
</table>
</div>
