<!DOCTYPE html>
<html lang="en">
<head>
 <% include template/header.ejs %>
</head>
<body>

<% include template/slider.ejs%>
<!--This is the content area for all the pages-->



<!--This is the END of content area for all the pages-->
<%- include(pageName) %>

<% include template/footer.ejs%>

</body>
</html>
