<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/header.ejs %>
   <style>
       body {
    background-color: #8D8D8D;
    }
       ._login{
          clear: right;
       }
       .text-size{
          width: 280px;
       }
       .border-size{
          width: 350px;
          margin-left: 450px;
       }
       .form1{
          padding: 15px;
       }
       .form-group2{
          width: 280px;
       }
       .pd{
          margin-bottom: 10px;
       }
   </style>
</head>
<body>



<% include template/navbar.ejs%>
<!--This is the content area for all the pages-->
<%- include(pageName) %>


<!--This is the END of content area for all the pages-->


<% include template/footer.ejs%>

</body>
</html>