extends layout.jade

block content
  h1  #{title}
  //p Welcome to #{title}

  #banner.page-header
    .row
      .col-lg-6
        h1 SportsFanz Application
          //small &nbsp; Home of all football fans

     .row
       .col-xs-12.col-sm-8

         ul.nav.navbar-nav
           li
             a(href='/') Home
           li
             a(href='/ranking/') Ranking
           li
             a(href='/results/') Results
           li
             a(href='/schedules/') Schedules
           li
             a(href='/livematches/') Live Matches

  .text-left.col-sm-12
   .col-xs-10.col-sm-6
     p.lead SportsZone gives you all the latest news and gist in football.
     p.lead Since Ballon D’Or has parted company with FIFA, the world football governing body has brought their own “The Best FIFA Football award” starting for the caledar year 2016. The ceremony will be taking place on Monday Night, 09 January 2017 at the FIFA headquarters in Zurich, Switzerland. There will be number of awards given out on the night which include mens and women best footballer of the year, coach of the year and FIFA Puskas (best goal of the year) awards. We take a look at how you can watch the ceremony live.


    .col-sm-12.list-group-item
      img(border="0", src="images/sports_image/img_1.jpg")

      img(border="0", width='400', height='200', src="images/sports_image/img_2.jpg")
      img(border="0", width='400', height='200', src="images/sports_image/img_3.jpg")

    .col-xs-12.col-sm-4
      p.lead Jose Mourinho was delighted with Manchester United's change in attitude after they bounced back from defeat at Huddersfield to beat Swansea 2-0.

      p.lead United progressed to the Carabao Cup quarter-final thanks to goals in either half by Jesse Lingard, coming days after their below-par showing at Huddersfield in the Premier League.

      p.lead Mourinho, who made seven changes for the trip to south Wales, praised his side's performance, and described the win as comfortable, but not easy..