<footer>
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2 col-sm-3 col-xs-3">
            </div>

            <div class="col-xs-4 col-md-2">
                <small>
                    <a href="#">Home</a> <br><hr >
                    <a href="#">About Us</a><br><hr >
                    <a href="#">Events</a><br><hr >
                    <a href="#">Tourist Places</a><br><hr >
                    <a href="#">Services</a><br><hr >
                    <a href="#">Gallery</a><br><hr >
                    <a href="#">Contact Us</a><br><hr >
                </small>
            </div>

            <div class="col-xs-3 col-md-3">
                <ul class="">
                    <h4>University of Applied Sciences</h4>
                    <small>
                        <li>Sokratesplatz 1	24149 Kiel, Germany</li><hr >
                        <li>Phone: +49 (0) 431 210-0 </li><hr >
                        <li>Fax: +49 (0) 431 210-1900	</li><hr >
                        <li>E-Mail: info (at) fh-kiel.de</li><hr >
                    </small>
                </ul>
            </div>

            <div class="col-xs-3 col-md-3">
                <h5>Subscribe to our latest events</h5>
                <form id="register-newsletter">
                    <input type="text" name="newsletter" required="" placeholder="Enter your email address">
                    <br>
                    <input type="submit" class="btn btn-custom-3" value="SUBSCRIBE">
                </form>
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-12 col-md-12 col-sm-12 ">
                <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top scroll_up" role="button" title="Click to return on the top page"
                   data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
            </div>
        </div>
    </div>
    <div class="row copyright_design">
        <div class="col-md-10 col-sm-5 col-xs-6 ">
            Copyright 2017 &copy; Agile Software development Team - Powered by FH-Kiel 2017
        </div>

        <div class="col-xs-4 col-md-2 col-sm-5">
            <small>
                <a href="#">Contact Us  ||</a>
                <a href="#">My Account</a>
            </small>
        </div>
    </div>

</footer>